/applications.html
/app_trabajador
/bitnami.css
/calculadora_dias.php
/Clon-youtube
/dashboard
/favicon.ico
/fecha_hora.php
/FRUTAS
/img
/index.php
/numeros.php
/numeros_dos.php
/registro_trabjadores
/registro_usuarios
/saludo.php
/VEGANO
/VEGETAL
/verduras.php
/xampp